<div class="container-fluid">
  <div class="col-md-12 col-sm-12">
      <div class="row">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black !important;">
              <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                      <img src="assets/pb1.png" class="navbar-brand" alt="Your Image">
                  </a>
                  <div class="d-flex ">
                    <div class="d-flex align-items-center" style="font-size: 18px; color: rgb(255, 255, 255) !important;">1000</div>

                      <img src="assets/wallet.png"  class="d-flex justify-content-center" style="width: 25px;height: 25px;"  alt="Your Image">
                      <img src="assets/menu.png"  class="d-flex justify-content-center" style="width: 25px;height: 25px;"  alt="Your Image">
                  </div>
              </div>
          </nav>
          <div class="col-md-12 col-sm-12">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dar" style="background-color: black !important;">


                <div class="navbar-nav ml-auto">

                    <a class="nav-link" href="#">Casino</a>


                    <a class="nav-link" href="#">Aviator</a>


                    <a class="nav-link" href="#">Teen Patti</a>


                      <a class="nav-link" href="#">Live Casino</a>

                      <a class="nav-link" href="#">HeliX</a>

                      <a class="nav-link" href="#">Sportsbook</a>

                      <a class="nav-link" href="#">Poker</a>

                      <a class="nav-link" href="#">Kabbadi</a>

              </div>


            </nav>
          </div>
      </div>
  </div>
</div>
<!-- <app-slider></app-slider> -->




