<div class="container-fluid" (click)="closeSidebar()">
  <div class="col-md-12 col-sm-12">
      <div class="row">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                      <img src="assets/pb1.png" class="navbar-brand" alt="Your Image">
                  </a>
                  <div class="d-flex ">
                    <div class="deposit-header">
                      <img src="https://m.kheloyaar360.net/assets/images/cash1.svg"  class="d-flex justify-content-center" style="width: 25px;height: 25px;"  alt="Your Image">
                      <span>Deposit</span>
                    </div>
                    <div class="d-block header-main-txt" >
                      <p class="header-txt" >Libility:0</p>
                      <p class="header-txt" >Balance:447</p>
                    </div>

                    <!-- <div class="d-flex align-items-center" style="font-size: 18px; color: rgb(255, 255, 255) !important;">1000</div> -->
                    <i class="bi bi-gear-fill big-icon" id="openSidebar" (click)="openSidebar(); $event.stopPropagation()"></i>

                    <!-- <i class="bi bi-gear-fill" id="openSidebar" (click)="openSidebar(); $event.stopPropagation()"></i> -->
                      <!-- <img src="assets/menu.png" class="d-flex justify-content-center" style="width: 25px; height: 25px;" alt="Your Image" > -->

                      <!-- <img src="assets/menu.png"  class="d-flex justify-content-center" style="width: 25px;height: 25px;"  alt="Your Image"> -->
                  </div>
              </div>
          </nav>
          <div class="col-md-12 col-sm-12">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dar">


                <div class="navbar-nav ml-auto">

                    <a class="nav-link" href="#" >Casino</a>


                    <a class="nav-link" href="#">Aviator</a>


                    <a class="nav-link" href="#">Teen Patti</a>


                      <a class="nav-link" href="#">Live Casino</a>

                      <a class="nav-link" href="#">HeliX</a>

                      <a class="nav-link" href="#">Sportsbook</a>

                      <a class="nav-link" href="#">Poker</a>

                      <a class="nav-link" href="#">Kabbadi</a>

              </div>


            </nav>
          </div>
      </div>
  </div>
</div>



<!-- The Sidebar -->
<div id="mySidebar" class="sidebar" [style.width]="sidebarOpen ? '300px' : '0'">
  <!-- Close Button -->
  <div class="sidebar-header shadow-lg">
    <div class="sidebar-icon">
      <i class="bi bi-x custom-x-icon" (click)="closeSidebar()"></i>
    </div>
    <!-- Profile Section -->
    <div class="profile">
      <img src="../../assets/group-c/a.jpeg" alt="Profile Image" class="profile-image">
      <h4 class="profile-name">Faizan</h4>
    </div>
  </div>

<div  class="container">
    <ul class="sidebar-menu">
      <a [routerLink]="['/reports/payment/whatsapp']"><li>Deposit</li></a>
      <a [routerLink]="['/reports/withdraw']"><li>Withdraw</li></a>
      <a [routerLink]="['/reports/changepassword']"><li>Change Password</li></a>
    <li class="dropdown">
      <div (click)="toggleDropdown($event, 'reports')">
        Reports
        <i class="bi bi-chevron-down" style="position: absolute; right: 4px;"></i>
      </div>
      <ul *ngIf="dropdowns['reports']">
        <a [routerLink]="['/reports/mybets']"><li>My Bets</li></a>
        <a [routerLink]="['/reports/profit-loss']"><li>Profit & Loss</li></a>
        <a [routerLink]="['/reports/casino-reports']"><li>Casino Reports</li></a>
        <a [routerLink]="['/reports/fancy-reports']"><li>Fancy Reports</li></a>
        <a [routerLink]="['/reports/result']"><li>Results</li></a>
      </ul>
    </li>
    <li class="dropdown">
      <div (click)="toggleDropdown($event, 'accounts')">
        Accounts
        <i class="bi bi-chevron-down" style="position: absolute; right: 4px;"></i>
      </div>
      <ul *ngIf="dropdowns['accounts']">
        <li [routerLink]="['/reports/account-statement']">Account Statement</li>
        <li [routerLink]="['/reports/withdraw']">Add/Remove Bank Details</li>
        <li [routerLink]="['/reports/deposit-withdraw-request-history']">Deposit/Withdraw Requests History</li>
        <li [routerLink]="['/reports/activity-logs']">Activity Logs</li>
        <li [routerLink]="['/reports/custom-stake']">Custom Stake Button</li>


      </ul>
    </li>
  </ul>
  <button class="logout-button">Logout</button>
</div>

</div>







