<!-- your-component.component.html -->








<div class="container " style="color: #FFB449; margin-top: 10px;">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5  border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <div class="footer-1">
        <img src="assets/pb1.png" class="image">
        <div class="f-text">© established in 2019. probo bet is the most trusted betting
          exchange and leading online casino.</div>
      </div>

    </div>

    <div class="col mb-3">

    </div>

    <div class="col-12 mb-3">
      <h3>GAME</h3>
      <div class="bottom-div">
        <div class="row">
          <div class="col-6">
            <ul class="nav flex-column" style=" color: white !important">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Online Sports Betting </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">IPL Betting</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Football Betting</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Tennis Betting</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Live Casino Betting</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="nav flex-column" style=" color: white !important">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Online Sports Betting </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">IPL Betting</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Football Betting</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Tennis Betting</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Live Casino Betting</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="col-12 mb-3">
      <h3>COMPANY</h3>
      <div class="bottom-div">
        <div class="row">
          <div class="col-6">
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">About us </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">privacy policy </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">responsible gambling </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">sitemap</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc"> rules & regulation</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">About us </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">privacy policy </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">responsible gambling </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">sitemap</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc"> rules & regulation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-3">
      <h3>RESOURCES</h3>
      <div class="bottom-div">
        <div class="row">
          <div class="col-6">
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Blog </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Fairplay News</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Sportsbook Betting</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Affiliate</a></li>

            </ul>
          </div>
          <div class="col-6">
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Faq</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Marketing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Loyalty</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 abc">Contact Us</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>

  <div class="resources-images">
    <div class="img1"><img src="../../assets/footer-image/gaming.png" alt=""></div>
    <div class="img2"><img src="../../assets/footer-image/18.png" alt=""></div>
  </div>

  <div class="footer-image">
    <div class="footer-image-1">

      <img src="assets/footer-image/instagram.png" alt="...">
      <img src="assets/footer-image/twitter.png" alt="...">
      <img src="assets/footer-image/fb.png" alt="...">
      <img src="assets/footer-image/telegram.png" alt="...">

    </div>

    <div class="footer-image-2">

      <div><img src="assets/footer-image/bank.png" alt="..."></div>
      <div> <img src="assets/footer-image/Paytm.png" alt="..."></div>
      <div> <img src="assets/footer-image/netbanking.png" alt="..."></div>

      <div> <img src="assets/footer-image/upi.png" alt="..."></div>


    </div>
  </div>
</div>

<div class="final-footer" style="color: aliceblue;">
<h3>© 2003 - 2024 probo bet India</h3>
</div>



<!-- <div class="footer-box">
  <div class="image-container">
    <img src="assets/group-c/f-img1.png" alt="Slide 1">
  </div>
  <div class="image-container ">
    <img src="assets/group-c/f-img2.png" alt="Slide 1">
  </div>
  <div class="container-1">
      <img src="assets/group-c/a.png" alt="Slide 1">
    </div>
    
  <div class="image-container">
    <img src="assets/group-c/f-img3.png" alt="Slide 1">
  </div>
  <div class="image-container">
    <img src="assets/group-c/f-img4.png" alt="Slide 1">
  </div>
</div>  -->