<div class="container">
  <h2>Set Custom Buttons</h2>
  <div class="stake-buttons">


  <div class="button-flex">
      <span>Button 1</span>
    <input type="number" value="200" />
    <span>Button 1</span>
    <input type="number" value="500" />
    <span>Button 1</span>
    <input type="number" value="1000" />
    <span>Button 1</span>
    <input type="number" value="5000" />

  </div>

  <div class="button-flex">
      <span>Button 1</span>
      <input type="number" value="10000" />
      <span>Button 1</span>
      <input type="number" value="25000" />
      <span>Button 1</span>
      <input type="number" value="50000" />
      <span>Button 1</span>
      <input type="number" value="100000" />
  </div>
</div>
  <button class="update-button">Update Stake</button>
  <div class="balance">
    <p>Balance: 22</p>
    <p>Liability: 0</p>
  </div>
</div>
