.bet-details{
  font-family: 'poppins';
}
.form-select{
  background-color: black;
  color: white;

}
.btn-warning{
  background-color: #ffb449;
}
.load-report{
  color: white;
  width: 100%;
  background-color: #FFB449;
}

.select {
  color: white;
}
.form-control{
  background-color: black;
  color: white;
  font-family: 'poppins',sans-serif;
}
.submit-btn{
  background-color: #FFB449;
}
.back{
  margin-bottom: 10px;
}

label{
  margin: 2px;
  color: white;
  font-family: 'poppins',sans-serif;
  font-weight: 400;
}

input[type="text"]:focus,input[type="date"]:focus{
  border-color: white !important;
  box-shadow:none !important;
  outline: 0 none !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
}
