.cards-container{
  width: 100%;

}
.cards-container .card{
  width: 100%;

}
.cards-container .card .card-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-container .card .card-header .left-content{
  width: 30%;
}
.cards-container .card .card-header .left-content .left-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.live-section{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'poppins';
  width: 40px;
  height: 20px;
}
.second-body h5 {
  line-height: 0.6em;
}

.card{
  border-radius: 10px;
  border: none;
  margin-top: 20px ;
}
.header-first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 6px;
}
.img-fluid{
  width: 25px;
  height: 25px;
  color:  white !important;
  margin-right: 5px;
}
.container-fluid{
  width: 100%;
}

.header-second{
  color: white;
}
.first-header{
  padding-left: 3px;

}
h5{
  margin-top: 5px;
  padding-left: 7px;
  margin-left: 0;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.cricketdate{
  font-family: 'Poppins';font-size: small; padding-left: 20px; justify-content: center;margin-top: 5px;
}
p{
  padding-left: 0px;

  line-height: 0.5em;font-weight: 900;
}
h2{
  margin: 0;
  padding: 0;
  font-family:  'poppins',sans-serif !important;
}

.second{
  justify-content: center;
  display: flex;
  font-size: 24px;
  margin-right: 15px;
  justify-content: end;
}
span{
  justify-content: center;
  color :white;
  font-size: 24px;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.small-bracket{
  color:#FFB449 ;
}

.blinking-bullet {
  display: inline-block; /* This makes the span respect width and height */
  width: 10px;
  height: 10px;
  border-radius: 50%; /* This creates the circle shape */
  background-color: red; /* Set the circle's color */
  animation: blink 1s linear infinite;
}


.live-section{
  margin-left: -10px !important;
}
.text-header-first{
  align-items: center;
  justify-content: center;
}
ul{
  max-width: 300px;
  margin-top: 7px;
  gap:60px;
  display: flex;
  list-style-type: none;
  color :white;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.card-body {
  margin-left: 0px;
    display: flex;
    height: 70px;
}

.container{
    position: relative;
}

@keyframes blink {
  0% {
    opacity: 1; /* Start with full opacity */
  }
  100% {
    opacity: 0; /* End with zero opacity */
  }
}
.col-md-6{
    margin-top: 10px;
    margin-bottom: 20px;
}


.card-body img{
    width: 55px; /* Set a fixed width for the images (adjust as needed) */
    height: 50px;
    border-radius: 50%;

}

.custom-button {
    width: 67px; /* Set your desired width */
    height: 25px;
    margin-bottom: 5px; /* Set your desired height */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.sports {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    Display: flex;
    margin-top: 4px;
}
h6{
    font-size: 12px;
}
h2{
  margin-top: 0 ;
}
.h4-with-img{
  margin: 0 !important;
  padding: 0 !important;
  color: white;
  font-family: 'poppins',sans-serif;
  font-weight: 400;
}
.mx-auto {
    align-self: baseline;
    gap: 8px;
}

.card-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 74px;
}



@media (max-width: 576px) { /* Target mobile devices */
  .container-fluid{
    width: 390px;
  }
  h2{
    margin-top: 10px;
  }
}

ul{
  max-width: 300px;
  margin-top: 7px;
  gap:57px;
  display: flex;
  list-style-type: none;
  color :white;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
@media screen and (max-width:390px) {
  ul{
    max-width: 300px;
    margin-top: 7px;
    gap:57px;
    display: flex;
    list-style-type: none;
    color :white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}

  /* .
  -body {
    height: 60px;
    margin-top:0 ;
      padding-top: 10px;
  } */
.row {

    margin-top:0 ;
    padding-top: 10px;
}
.row-body-upcomming{
  height: 80px;
  /* display: flex; */
  /* margin-left: 0; */
}
.row-body-football{
  height: 60px;
}
.card-header{
  height: 45px !important;
  margin: 0;
  padding: 0;
  border: none !important;
  background: rgb(255,180,73);
  background: linear-gradient(90deg, rgba(255,180,73,1) 41%, rgba(28,28,30,1) 41%);
}
.card-header-first{
    margin: 0;
    padding: 0;
}

.main-box {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  height: 50px;
  display: flex;
  max-width: 300px;
}

.box-1{
  border:none;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
  width: 64px;
  height: 50px;
  background: #a5d9fe;
}

.box-1-football{
  border:none;
  border-radius: 5px;
  margin: 2px;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  width: 100px;
  height:  45px;
  background: #a5d9fe;

}

.box-1-upcomming{
  border:none;
  border-radius: 5px;
  margin: 2px;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  width: 100px;
  height:  45px;
  background: #a5d9fe;

}


.upcomming{
  margin-top:7px ;
}

.upcoming-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 7px;
  top: -8px;
  height: 18px;
  font-size: 12px;
}
@media screen and (min-width: 480px){

  .box-1{
    border:none;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
    width: 50px;
    height: 41px;
    background: #a5d9fe;
  }
  h2{
    margin-top: 10px;
  }
}
