


<div class="sport-main">

  <div class="card">
    <div class="card-header">
      <button class="btn btn-sm btn-danger rounded-pill upcoming-box" type="button">Live</button>
      <div class="row">
        <div class="col-5" >
    <h3 class="h4-with-img">
      <img src="assets/ball.png" class="img-fluid" alt="...">Cricket</h3>
        </div>
        <div class="col-7">

            <ul>
              <li>1</li>
              <li>x</li>
              <li>2</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="row-body"  >
      <div class="row" *ngFor="let data of cricketData" (click)="inPlayDetails(data.matchcode)">
        <div class="col-5">
          <h5 >{{truncateTitle(data.title)}}</h5>
        </div>
        <div class="col-7 second-body justify-content-end">
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
        </div>
      </div>
      <div class="col-12"  *ngIf="cricketData.length == 0">
        <h5 style="align-items: center;justify-content: center;display: flex;margin-top: 10px;">No Live Match Yet...</h5>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <button class="btn btn-sm btn-success rounded-pill upcoming-box " type="button" >Upcoming</button>
      <div class="row">
        <div class="col-5" >
    <h3 class="h4-with-img">
      <img src="assets/ball.png" class="img-fluid" alt="...">Cricket</h3>
        </div>
        <div class="col-7">
            <ul>
              <li>1</li>
              <li>x</li>
              <li>2</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="row-body"  >
      <div class="row" *ngFor="let data of upcomingCricketData">
        <div class="col-5">
          <h5 >{{truncateTitle(data.title)}}</h5>
        </div>
        <div class="col-7 second-body justify-content-end">
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
        </div>
      </div>
      <div class="col-12"  *ngIf="upcomingCricketData.length == 0">
        <h5 style="align-items: center;justify-content: center;display: flex;margin-top: 10px;">No upcoming Match Yet...</h5>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <button class="btn btn-sm btn-danger rounded-pill upcoming-box" type="button">Live</button>
      <div class="row">
        <div class="col-5" >

          <h3 class="h4-with-img">
      <img src="assets/football-1.png" class="img-fluid"  alt="...">Football</h3>
        </div>
        <div class="col-7">

            <ul>
              <li>1</li>
              <li>x</li>
              <li>2</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="row-body"  >
      <div class="row" *ngFor="let data of cricketData">
        <div class="col-5">
          <h5 >{{truncateTitle(data.title)}}</h5>
        </div>
        <div class="col-7 second-body justify-content-end">
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
        </div>
      </div>
      <div class="col-12"  *ngIf="cricketData.length == 0">
        <h5 style="align-items: center;justify-content: center;display: flex;margin-top: 10px;">No Live Match Yet...</h5>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <button class="btn btn-sm btn-success rounded-pill upcoming-box " type="button" >Upcoming</button>

      <div class="row">
        <div class="col-5" >

          <h3 class="h4-with-img">
        <img src="assets/football-1.png" class="img-fluid"  alt="...">Football</h3>
        </div>
        <div class="col-7">
            <ul>
              <li>1</li>
              <li>x</li>
              <li>2</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="row-body"  >
      <div class="row" *ngFor="let data of cricketData">
        <div class="col-5">
          <h5 >{{truncateTitle(data.title)}}</h5>
        </div>
        <div class="col-7 second-body justify-content-end">
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
            <div class="box-1">
              <p style="line-height: 0.2rem;margin-top: 10px;">1.34</p>
              <p>1c+</p>
            </div>
        </div>
      </div>
      <div class="col-12"  *ngIf="cricketData.length == 0">
        <h5 style="align-items: center;justify-content: center;display: flex;margin-top: 10px;">No Live Match Yet...</h5>
      </div>
    </div>
  </div>

</div>





  <app-game-show></app-game-show>




