.bet-details{
  font-family: 'poppins';
}
.form-select{
  background-color: black;
  color: white;

}
.load-report{
  color: white;
  width: 100%;
  background-color: #2dc3e8;
}
.btn-warning{
  background-color: #ffb449;
}
.select {
  color: white;
}
.form-control{
  background-color: black;
  color: white;
}
.table-responsive{
  margin-top: 20px;

}
.submit-btn{
  background-color: #FFB449;
}

input[type="text"]:focus,input[type="date"]:focus{
  border-color: white !important;
  box-shadow:none !important;
  outline: 0 none !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
}

label{
  margin: 2px;
  color: white;
  font-family: 'poppins',sans-serif;
  font-weight: 400;
}

.table-account{
  font-size: 12px;
  font-family: 'poppins',sans-serif;
  font-weight: 400 !important;
}
tr{
  white-space: nowrap;
}
tr{
  background-color: #020c1b;
}
.withdraw-table .table{
  border: 2px solid gray;
}
.withdraw-table .table thead tr{
  border: 2px solid gray;
}

.withdraw-table .table thead tr th{
  color: white !important;
  border: 2px solid gray;
  font-family: 'poppins',sans-serif;
  font-weight:400 !important;
}
.withdraw-table th,
.withdraw-table td {
  width: 50%; /* Adjust the width as needed */
  white-space: nowrap;
}

.withdrow-back{
  position: absolute;
  left: 10px;
  margin-top: 5px;
}

.withdraw-table .table tbody tr td{
  color: white !important;
  border: 2px solid gray;
  background-color: black;
  font-family: 'poppins',sans-serif;
  font-weight:400 !important;
  white-space: nowrap;
}
