<!-- carousel.component.html -->
<div class="col-md-12 col-sm-12">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/rashmi.png" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets/rashmi.png" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets/rashmi.png" class="d-block w-100" alt="Slide 3">
      </div>
      <!-- Add more slides as needed -->
    </div>
  </div>

</div>
<app-popular></app-popular>
<app-games></app-games>
<app-sports></app-sports>
