<div class="container">
  <img src=".././../../../assets/arrow.png" class="img-fluid" alt="..."(click)="goBack()">
  <div class="col-12">
    <div class="row">
      <div class="table-responsive withdraw-table" >
        <table class="table table-dark" *ngFor="let item of loginData">
          <tbody>
            <tr style="white-space: nowrap;"><th>Login Date & Time</th><td>{{item.loginDateTime}}</td></tr>
            <tr style="white-space: nowrap;"><th>Login Status</th><td>{{item.loginStatus}}</td></tr>
            <tr style="white-space: nowrap;"><th>IP Address</th><td>{{item.ipAddress}}</td></tr>
            <tr style="white-space: nowrap;"><th>Device Info</th><td>{{item.deviceInfo}}</td></tr>
            <tr style="white-space: nowrap;"><th>Website</th><td>{{item.website}}</td></tr>
          </tbody>
          </table>
          </div>
    </div>
  </div>
</div>
