tr{
  background-color: #020c1b;
}
.withdraw-table .table{
  border: 2px solid gray;
}
.withdraw-table .table thead tr{
  border: 2px solid gray;
}

.withdraw-table .table thead tr th{
  color: white !important;
  border: 2px solid gray;
  font-family: 'poppins',sans-serif;
  font-weight:400 !important;
}
.withdraw-table th,
.withdraw-table td {
  width: 50%; /* Adjust the width as needed */
  white-space: nowrap;
}

.withdrow-back{
  position: absolute;
  left: 10px;
  margin-top: 5px;
}
.note{
  color: #FFB449;
  padding-top: 20px;
  font-family: 'poppins',sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.withdraw-table .table tbody tr td{
  color: white !important;
  border: 2px solid gray;
  background-color: black;
  font-family: 'poppins',sans-serif;
  font-weight:400 !important;
  white-space: nowrap;
}
