.bet-details{
  font-family: 'poppins';
}
.form-select{
  background-color: #222c3b;
  color: white;
}

.load-report{
  color: white;
  width: 100%;
  background-color: #2dc3e8;
}
.btn-warning{
  background-color: #ffb449;
}
.select {
  color: white;
}
.form-control{
  background-color: black;
  color: white;
}
tr{
white-space: nowrap;
}

label{
  margin: 2px;
  color: white;
  font-family: 'poppins',sans-serif;
  font-weight: 400;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
}
input[type="text"]:focus,input[type="date"]:focus{
  border-color: white !important;
  box-shadow:none !important;
  outline: 0 none !important;
}
