.bet-details{
  font-family: 'poppins';
}
.form-select{
  background-color: black;
  color: white;

}
.load-report{
  width: 100%;
  background-color: #FFB449;
}

.select {
  color: white;
}
.form-control{
  background-color: black;
  color: white;
}


label{
  margin: 2px;
  color: white;
  font-family: 'poppins',sans-serif;
  font-weight: 400;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
}
