.form-control{
  background-color: black;
  color: white;

}
.input-group{
  margin-top: 10px;
}
.alert-danger{
  background-color: black !important;
  color: red;
  border: none;
  font-size: 14px;
  padding: 5px;
  font-weight: 400px;
  font-family: 'poppins',sans-serif;

}
input[type="password"]:focus{
  border-color: none !important;
  box-shadow:none !important;
  outline: 0 none !important;
}


.form-control::placeholder{
  color: white;
  font-family: 'poppins';
  font-size: 14px;
}
.input-group-text{
  background-color: black;
}
.btn-warning{
  background-color: #FFB449 !important;
}
.backicon{
  justify-content: start;
  text-align: start;
  position: absolute;
  left: 15px;
  margin-top: 5px;

}




#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
p font-family helvetica {
  font-size: 24px;
}
.submit-btn{
  background-color: #FFB449;
}
