<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <img src=".././../../../assets/arrow.png" class="img-fluid backicon" (click)="goBack()" alt="...">
      <h2 class="text-center">Change Password</h2>
      <form [formGroup]="changePasswordForm" novalidate>

        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill" style="color: white;"></i></span>
          <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" formControlName="currentPassword" placeholder="Current Password">
          <span class="input-group-text"><i class="material-icons toggle-icon" style="color: white;" (click)="toggleCurrentPasswordVisibility()">{{showPassword ? 'visibility' : 'visibility_off'}}</i></span>
        </div>
        <div *ngIf="changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)" class="alert alert-danger">
          {{ getErrorMessage('currentPassword') }}
        </div>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill" style="color: white;"></i></span>
          <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" class="form-control" formControlName="newPassword" placeholder="New Password">
          <span class="input-group-text"><i class="material-icons toggle-icon" style="color: white;" (click)="toggleNewPasswordVisibility()">{{showNewPassword ? 'visibility' : 'visibility_off'}}</i></span>
        </div>
        <div *ngIf="changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)" class="alert alert-danger">
          {{ getErrorMessage('newPassword') }}
        </div>

        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill" style="color: white;"></i></span>
          <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Password">
          <span class="input-group-text"><i class="material-icons toggle-icon" style="color: white;" (click)="toggleConfirmPasswordVisibility()">{{showConfirmPassword ? 'visibility' : 'visibility_off'}}</i></span>
        </div>
        <div *ngIf="changePasswordForm.errors?.mismatch && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('confirmPassword')?.touched)" class="alert alert-danger">
            Passwords do not match.
        </div>
        <div class="col-12 d-flex justify-content-center" style=" margin-top: 15px;">
          <button type="submit" class="btn btn-warning btn-block" style="margin-top: 10px;">Change Password</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- <div id="set-height"></div>
<p id="time"></p>
<video id="v0" tabindex="0" autobuffer="autobuffer" preload="preload">
  <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;" src="../../../../assets/aa.mp4">
</video> -->
<!--
<div id="videoContainer" (scroll)="onScroll($event)">
  <video id="myVideo" width="360" height="240" controls>
    <source src="../../../../assets/aa.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div> -->

