.card{
  border-radius: 17.5px;
  border: none;
}
.header-first{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 40px; */
}
.img-fluid{
  width: 20px;
  height: 20px;
}
.header-second{
  margin-top: 10px;
  color: white;
}
.first-body{
  margin-left: 0;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h5{
  margin-bottom: 0.2rem;
  font-family: 'Poppins';font-weight: 900;
}
.container-fluid{
  width: 100%;
}

p{
  padding-left: 7px;

  line-height: 0.5em;font-weight: 700;
}
.second-body{
  display: flex; justify-content: center;
}
.second{
  padding-top: 10px;
  justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
}
h4{
  padding-top: 2px;
}
ul{
  display: flex;
  list-style-type: none;
  color :white;
  gap: 60px;
  font-size: 24px;
}

.card-body {
  margin-left: 0px;
    display: flex;
    /* gap: 10px; */
}

.container{
    position: relative;

}
.live{

    position: absolute;
    margin-top: 7px;
    left: 32%;
    width: 40px;
    font-size: 10px;
    margin-bottom: 0px;
}
.col-md-6{
    margin-top: 10px;
    margin-bottom: 20px;
}


.card-body img{
    width: 55px; /* Set a fixed width for the images (adjust as needed) */
    height: 50px;
    border-radius: 50%;


}

.custom-button {
    width: 67px; /* Set your desired width */
    /* height: 25px; */
    margin-bottom: 5px; /* Set your desired height */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.sports {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    Display: flex;
    margin-top: 4px;
}
h6{
    font-size: 12px;
}


.mx-auto {
    align-self: baseline;
    gap: 8px;
}

.card-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 74px;
}



.card-header{
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 17.5px;
    border-top-right-radius: 17.5px;
    background: rgb(232,170,13);
    background: linear-gradient(90deg, rgba(232,170,13,1) 37%, rgba(0,0,0,1) 38%, rgba(14,13,13,1) 94%);

}
.card-header-first{
    margin: 0;
    padding: 0;
}




.box-1 {
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  width: 64px;
  height: 41px;
  background: #a5d9fe;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}



.upcomming{
  margin-top:7px ;
}
.box-1-football{
  border:none;
  border-radius: 5px;
  margin: 2px;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  width: 100px;
  height:  45px;
  background: #a5d9fe;

}
.upcoming-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 5px;
  top: -10px;
  height: 25px;
  font-size: 12px;
}

