.nav-tabs{
  margin: 10px;
  border: none;
}
.tab-content{
  border: none;
}
.btn-warning{
  background-color: #ffb449;
}
.nav-link {
  font-size: small;
  border-radius: 0;
  background-color: black;
  color: #ffffff; /* Set text color to white */
}
.nav-tabs{
  border-radius: 0;
  color: #ffffff; /* Set text color to white */

}
.nav-link.active {
  background-color: #ffb449;
}
