.nav-tabs{
  margin: 10px;
  border: none;
}
.tab-content{
  border: none;
}
.btn-warning{
  background-color: #ffb449;
}
.nav-link {
  font-size: small;
  border-radius: 0;
  background-color: black;
  color: #ffffff; /* Set text color to white */
}
.nav-tabs{
  border-radius: 0;
  color: #ffffff; /* Set text color to white */

}
.nav-link.active {
  background-color: #ffb449;
}

.withdraw-table .table{
  border: 2px solid gray;
}
.withdraw-table .table thead tr{
  border: 2px solid gray;
}

.withdraw-table .table thead tr th{
  color: white !important;
  border: 2px solid gray;
  font-family: 'poppins',sans-serif;
  font-weight:400 !important;
}
.withdraw-table th,
.withdraw-table td {
  width: 50%; /* Adjust the width as needed */
  white-space: nowrap;
}

.withdrow-back{
  position: absolute;
  left: 10px;
  margin-top: 5px;
}

.withdraw-table .table tbody tr td{
  color: white !important;
  border: 2px solid gray;
  background-color: black;
  font-family: 'poppins',sans-serif;
  font-weight:400 !important;
  white-space: nowrap;
}
