<div class="login-container">
  <a class="navbar-brand" href="#">
      <h1 class="title">NEW MEMBER</h1>
</a>
  <h2 class="login-title">Register Now 👋</h2>
</div>




<div class="main-container">
  <span class="details">Phone Number</span>
  <input type="tel" id="phone" placeholder="Phone Number" name="name" required />


  <div class="input-group">

    <lib-country-list [selectedCountryConfig]="selectedCountryConfig" [countryListConfig]="countryListConfig"
    (onCountryChange)="onCountryChange($event)"></lib-country-list>

  </div>
  <div class="checkbox-group">
    <input type="checkbox" id="age" name="age" value="age">
    <label for="age">I confirm thhat I am 18 years old or above and agree to the Terms and Conditions</label>
  </div>
  <button class="button" id="get-otp">Get OTP</button>
  <div class="divider">Or Register With</div>

  <div class="whatsapp-button-container col-12">
      <button type="button" class="btn btn-sm whatsapp-button">
       <img class="whatsapp-img" src="https://dqqdyv927mezc.cloudfront.net/kheloyar/newdeposit/wa.svg" alt="WhatsApp">
     Get instant ID on WhatsApp
     </button>
    </div>
    <div class="container">
      <div class="col-12">
        <div class="row">
          <div class="bonus-offer">
            <div class="bonus-offers">
                <i class="bi bi-gift-fill"></i>
                 <span>500% deposit
                  bonus</span>
            </div>

            <div class="bonus-offers b2">
              <i class="bi bi-gift-fill"></i>
              <span class="offer-class">3% extra on
                daily deposit</span>
          </div>



        </div>
      </div>
    </div>


    </div>
</div>

