/* .header {
  background: linear-gradient(
                  180deg,
                  rgba(21, 20, 37, 0.7) 0%,
                  rgba(55, 54, 71, 0) 100%
  );
  mix-blend-mode: multiply;
}

.bg-image {
  height: 150px;
}

.match-title {
  display: flex;
  padding-top: 50px;
  padding-left: 30px;
}

.matchHeader {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
}

.live-status {
  height: 35px;
  background: #ca3f46;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px 8px 3px 2px;
}

.status {
  font-family: Bebas Neue;
  font-style: normal;
  line-height: 18px;
  padding-left: 5px;
  font-weight: 500;
  align-items: flex-end;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.score-summary {
  height: 34px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ca3f46;
  background: #ffffff;
  border-radius: 5px;
  padding: 0 0px !important;
  text-align: center !important;
  justify-content: center;
}

.block-summary {
  display: flex;
  margin-left: 78px;
  margin-top: 10px;
}

.fnt-clr {
  color: #ca3f46;
}

.table-fnt {
  font-family: Mukta;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  border-radius: 10px;
  color: #26283c;
}

.tbl {
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-collapse: separate;
}

.tbl tr {
  border: 1px solid #f1f0f5;
}

.css-table {
  display: table;
  width: 100%;
}

.css-table-header {
  display: table-header-group;
  font-weight: bold;
}

.css-table-body {
  display: table-row-group;
}

.css-table-row {
  display: table-row;
}

.css-table-header div,
.css-table-row div {
  display: table-cell;
  padding: 0 6px;
}

.css-table-header div {
  border: 1px solid rgb(255, 255, 255);
}

.scoreBackground {
  background: white;
  height: 100%;
}

.grayRow {
  height: 32px;
  background: #f5f5f7;
  display: flex;
  align-items: center;
  font-family: Mukta;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  color: #26283c;
  border-right: 1px solid #dcdcdf;
}

.whiteRow {
  height: 32px;
  background: white;
  display: flex;
  align-items: center;
  font-family: Mukta;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  color: #26283c;
  border-right: 1px solid #dcdcdf;
}

.title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #373647;
}


.pd0 {
  padding: 0px;
}

input {
  background: #ffffff;
  border: 1px solid rgba(55, 54, 71, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  height: 36px;
  width: 100%;
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 15px;
  outline: none;
}



ul.nav-tabs.nav {
  display: none;
}

.mt-2.tab-content {
  margin-top: 0 !important;
}

span.Switch-page {
  cursor: pointer;
}

td.cell-red,
td.cell-blue,
td.cell-red-sub,
td.cell-blue-sub {
  cursor: pointer;
}

.toggles {
  display: flex;
  margin-bottom: 10px;
}

span.score-tem {
  font-family: Mukta;
  text-transform: uppercase !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px !important;
  color: #292929 !important;
  opacity: 1 !important;
}

span.Switch-to {
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #292929 !important;
  padding-left: 10px !important;
  line-height: 22px !important;
  opacity: 1 !important;
}

::ng-deep .switch-small {
  width: 41px !important;
}

::ng-deep .switch-small.checked small {
  left: auto !important;
  right: 0 !important;
}

::ng-deep .checked {
  background: #2560ad !important;
  border-color: #2560ad !important;
}

@media only screen and (max-width: 1140px) {
  .amout_section .chip_section {
    margin: 0 !important;
    padding: 10px 0;
  }
  h2{
    font-size: 18px;
  }
  .card-header{
    margin: 0;
    padding: 0;
    height: 50px;
    background: rgb(232,170,13);
    background: linear-gradient(90deg, rgba(232,170,13,1) 37%, rgba(0,0,0,1) 38%, rgba(14,13,13,1) 94%);
  }
  .second{
    justify-content: center;
     display: flex;
     font-size: 24px;
     margin-right: 15px;
     justify-content: end;
  }
  ul{
    display: flex;list-style-type: none; color :white; gap: 45px; font-size: 18.27px;font-family: 'Poppins',sans-serif
  }
  .row-body {
    height: 60px;
    margin-top:0 ;
      padding-top: 10px;
  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }

  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';font-weight: 900;
  }
}

@media only screen and (max-width: 1120px) {
  .card-header{
    margin: 0;
    padding: 0;
    height: 50px;

    background: rgb(232,170,13);
    background: linear-gradient(90deg, rgba(232,170,13,1) 37%, rgba(0,0,0,1) 38%, rgba(14,13,13,1) 94%);
  }
  .second{
    justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
  }
  .card{
    border-radius: 10px;
    border: none;
  }
  ul{
    display: flex;list-style-type: none; color :white; gap: 45px; font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
  .row-body {
    height: 60px;
    margin-top:0 ;
      padding-top: 10px;
  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }
  .first-body{
    margin-left: 0;
    margin-top: 0px;
  }

  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-size: 13.92;
    font-family: 'Poppins';font-weight: 900;
  }

}

@media screen and (max-width: 767px) {
  .bg-image {
    display: none;
  }
  h2{
    font-size: 12px;
  }
  .card{
    border-radius: 10px;
    border: none;
  }
  .second{
    justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
  }
  ul{
    display: flex;list-style-type: none; color :white; gap: 45px; font-size: 18.27px;font-family: 'Poppins',sans-serif;
  }
  .row-body {
    height: 60px;
    margin-top:0 ;
      padding-top: 10px;
  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }
  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';font-weight: 900;
  }


@media screen and (max-width: 767px) {
  .card{
    border-radius: 10px;
    border: none;
  }
  h2{
    font-size: 12px;
  }
  .second{
    justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
  }
  .row-body {
    height: 60px;
    margin-top:0 ;
      padding-top: 10px;
  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }

  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';font-weight: 900;
  }
  button.live-tv.popupBtn span {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .col-8.px-4.pt-4.column-full {
    padding: 9px 16px 10px !important;
  }
  .second{
    justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
  }
  h2{
    font-size: 18px;
  }
  li{
    font-size: 12px;
  }

  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';font-weight: 900;
  }
}

@media screen and (max-width: 360px) {
  .amout_section .chip {
    max-width: 27%;
    width: 27% !important;
  }
  .second{
    justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
  }
  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';font-weight: 900;
  }
}

@media screen and (max-width: 320px) {
  .second{
    justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
  }
  .score-summary {
    height: 34px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ca3f46;
    background: #ffffff;
    border-radius: 5px;
    padding: 0 0px !important;
    text-align: center !important;
    justify-content: center;
  }
  .row-body {
    height: 60px;
    margin-top:0 ;
      padding-top: 10px;
  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }

  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';font-weight: 900;
  }
}




@media screen and (max-width: 767px) {
  .card-header{
    margin: 0;
    padding: 0;
    height: 50px;
    background: rgb(232,170,13);
    background: linear-gradient(90deg, rgba(232,170,13,1) 37%, rgba(0,0,0,1) 38%, rgba(14,13,13,1) 94%);
  }
  .card{
    border-radius: 10px;
    border: none;
    margin-top: 8px;
  }
  .second{
    justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
  }


  ul{
    display: flex;
    list-style-type: none;
    color :white;
    gap: 45px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif
  }
  .row-body {
    height: 60px;
    margin-top:0 ;
      padding-top: 10px;
  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }
  h5{
    padding-left: 7px;
    margin-top: 10px;

    font-family: 'Poppins';
    font-weight: 900;
  }

}} */
