/* .header {
  background: linear-gradient(
                  180deg,
                  rgba(21, 20, 37, 0.7) 0%,
                  rgba(55, 54, 71, 0) 100%
  );
  mix-blend-mode: multiply;
} */

.bg-image {
  height: 150px;
}

.match-title {
  display: flex;
  padding-top: 50px;
  padding-left: 30px;
}

.matchHeader {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
}

.live-status {
  height: 35px;
  background: #ca3f46;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px 8px 3px 2px;
}

.status {
  font-family: Bebas Neue;
  font-style: normal;
  line-height: 18px;
  padding-left: 5px;
  font-weight: 500;
  align-items: flex-end;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.score-summary {
  height: 34px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ca3f46;
  background: #ffffff;
  border-radius: 5px;
  padding: 0 0px !important;
  text-align: center !important;
  justify-content: center;
}

.block-summary {
  display: flex;
  margin-left: 78px;
  margin-top: 10px;
}

.fnt-clr {
  color: #ca3f46;
}

.table-fnt {
  font-family: Mukta;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  border-radius: 10px;
  color: #26283c;
}

.tbl {
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-collapse: separate;
}

.tbl tr {
  border: 1px solid #f1f0f5;
}

.css-table {
  display: table;
  width: 100%;
}

.css-table-header {
  display: table-header-group;
  font-weight: bold;
}

.css-table-body {
  display: table-row-group;
}

.css-table-row {
  display: table-row;
}

.css-table-header div,
.css-table-row div {
  display: table-cell;
  padding: 0 6px;
}

.css-table-header div {
  border: 1px solid rgb(255, 255, 255);
}

.scoreBackground {
  background: white;
  height: 100%;
}

.grayRow {
  height: 32px;
  background: #f5f5f7;
  display: flex;
  align-items: center;
  font-family: Mukta;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  color: #26283c;
  border-right: 1px solid #dcdcdf;
}

.whiteRow {
  height: 32px;
  background: white;
  display: flex;
  align-items: center;
  font-family: Mukta;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  color: #26283c;
  border-right: 1px solid #dcdcdf;
}

.title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #373647;
}


.pd0 {
  padding: 0px;
}

input {
  background: #ffffff;
  border: 1px solid rgba(55, 54, 71, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  height: 36px;
  width: 100%;
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 15px;
  outline: none;
}



ul.nav-tabs.nav {
  display: none;
}

.mt-2.tab-content {
  margin-top: 0 !important;
}

span.Switch-page {
  cursor: pointer;
}

td.cell-red,
td.cell-blue,
td.cell-red-sub,
td.cell-blue-sub {
  cursor: pointer;
}

.toggles {
  display: flex;
  margin-bottom: 10px;
}

span.score-tem {
  font-family: Mukta;
  text-transform: uppercase !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px !important;
  color: #292929 !important;
  opacity: 1 !important;
}

span.Switch-to {
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #292929 !important;
  padding-left: 10px !important;
  line-height: 22px !important;
  opacity: 1 !important;
}

::ng-deep .switch-small {
  width: 41px !important;
}

::ng-deep .switch-small.checked small {
  left: auto !important;
  right: 0 !important;
}

::ng-deep .checked {
  background: #2560ad !important;
  border-color: #2560ad !important;
}

@media only screen and (max-width: 1140px) {
  .amout_section .chip_section {
    margin: 0 !important;
    padding: 10px 0;
  }
  h2{
    font-size: 18px;
  }
  .card-header{
    margin: 10px;
    padding: 0;
    height: 50px;
    border: none;
    background: black;
    /* background: linear-gradient(90deg, #FFB449 37%, #272727 38%, #272727 94%); */
  }
  .sport-details-button-left{
    display: flex;
  }
  .second{
     display: flex;
     font-size: 24px;
      margin-top: 10px;
     margin-right: 5px;
     justify-content: end;
  }
  .second-for-yes-no{
    display: flex;
    list-style-type: none;
    justify-content: flex-end; /* Aligns content to the bottom */

    color :white;
    gap: 40px;
    font-size: 18.27px;
    font-family: 'Poppins',sans-serif
  }
  ul{
    display: flex;
    list-style-type: none;
    color :white;
    gap: 27px;
    font-size: 18.27px;
    font-family: 'Poppins',sans-serif
  }
  .row-body {
    margin-top:-15px ;
    padding-top: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: black;
    color: white;
  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }

  h5{
    padding-left: 7px;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins',sans-serif;
  }
}

@media only screen and (max-width: 1120px) {
  .card-header{
    margin: 10px;
    padding: 0;
    border: none;
    height: 50px;
    background: black;
    /* background: linear-gradient(90deg, #FFB449 37%, #272727 38%, #272727 94%); */
  }
  .second{
    display: flex;
    font-size: 24px;
    margin-top: 10px;
    justify-content: flex-end; /* Aligns content to the bottom */
    margin-right: 5px;
    justify-content: end;
  }
  .card{
    border-radius: 10px;
    border: none;
    background-color: black;
  }
  ul{
    display: flex;list-style-type: none; color :white; gap: 27px; font-size: 24px;
  }
  .second-for-yes-no{
    display: flex;
    list-style-type: none;

    color :white;
    gap: 40px;
    font-size: 18.27px;
    font-family: 'Poppins',sans-serif
  }
  h2{
    font-size: 18px;
  }
  .row-body {
    margin-top:-15px ;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: white;

  }
  .row {
    margin-top:0 ;
  }
  .first-body{
    margin-left: 0;
    margin-top: 0px;
  }

  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-size: 13.92;
    font-family: 'Poppins',sans-serif;
  }
  .sport-details-text{
    line-height: 0.9em !important;
  }


  tr{
    background-color: #020c1b;
  }
  .bet-table{
    margin-top: 10px;
    border: 2px solid gray;
  }
  .bet-table .table thead tr{
    border: 2px solid gray;
  }
  .i-frame{
    margin-top: 10px !important;
  }
h4{
  color :#FFB449;
  font-family: 'poppins',sans-serif;
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}
  .bet-table .table thead tr th{
    color: white !important;
    border: 2px solid gray;
    font-family: 'poppins',sans-serif;
    font-weight:400 !important;
  }

  .bet-table td {
    width: 50%; /* Adjust the width as needed */
    white-space: nowrap;
    background-color: black;
  }


.team{
  margin-left: 0;
  line-height: 1rem!important;
  display: flex;
  font-size: 14px;
  font-family: 'Poppins',sans-serif;
  font-weight: 900 !important;
}
.score{
  background-color: #272727;
  color: white;
  font-family: 'poppins';
}
.score-1{
  position: absolute;
  right: 15px;
}
}

@media screen and (max-width: 767px) {
  .bg-image {
    display: none;
  }
  h2{
    font-size: 12px;
  }
  .card{
    border-radius: 10px;
    border: none;
  }
  .second{
    display: flex;
    font-size: 24px;
    margin-top: 10px;
    margin-right: 5px;
    justify-content: flex-end; /* Aligns content to the bottom */

    margin-top: 0;
    justify-content: end;
  }
  ul{
    display: flex;list-style-type: none; color :white; gap: 27px; font-size: 18.27px;font-family: 'Poppins',sans-serif;
  }
  .market-button{
    width: 100px;
    padding-top: 5px;
    padding-left: 2px;
    font-size: 14px;
    font-family: 'poppins';
  }
  .market-button:hover{
    width: 100px;
    background-color: white;
  }
  .second-for-yes-no{
    display: flex;
    list-style-type: none;
    color :white;
    gap: 35px;
    font-size: 18.27px;
    font-family: 'Poppins',sans-serif
  }
  .row-body {
    margin-top:-15px;
    margin-bottom: 10px;
    background-color: black;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-top: 10px;
    color: white;

  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }
  h5{
    padding-left: 7px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins',sans-serif;
  }


@media screen and (max-width: 767px) {
  .market-icon{
    width: 26px; height: 20px; border-radius: 50%; background-color: green; margin: 2px;
    }
  .card{
    border-radius: 10px;
    border: none;
  }
  h2{
    font-size: 12px;
  }
  .second{
    display: flex;
    font-size: 24px;
    margin-right: 5px;
    margin-top: 10px;
    justify-content: end;
  }
  .row-body {
    margin-top:-15px ;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: white;

  }
  .i-frame{
    border: 1px solid gray;
    color: white;
  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }

  h5{
    padding-left: 7px;
    margin-top: 5px;
    font-size: 14px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';
  }
  button.live-tv.popupBtn span {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .col-8.px-4.pt-4.column-full {
    padding: 9px 16px 10px !important;
  }
  .second{
    display: flex;
    font-size: 24px;
    margin-right: 5px;
    margin-top: 10px;
    justify-content: end;
  }
  h2{
    font-size: 18px;
  }
  li{
    font-size: 18.27px !important;
  }

  h5{
    padding-left: 7px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';
  }
}

@media screen and (max-width: 360px) {
  .amout_section .chip {
    max-width: 27%;
    width: 27% !important;
  }
  .market-icon{
    width: 26px; height: 20px; border-radius: 50%; background-color: green; margin-right: 2px;

  }
  .second{
    display: flex;
    font-size: 24px;
    margin-right: 5px;
    margin-top: 10px;
    justify-content: end;
  }
  h5{
    padding-left: 7px;
    margin-top: 5px;
    font-size: 14px;
    margin-left: 0;
    line-height: 0.5em;
    font-family: 'Poppins';
  }
}

@media screen and (max-width: 320px) {
  .second{
    display: flex;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: end;
  }
  .score-summary {
    height: 34px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ca3f46;
    background: #ffffff;
    border-radius: 5px;
    padding: 0 0px !important;
    text-align: center !important;
    justify-content: center;
  }
  .row-body {
    margin-top:-15px ;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: black;
    color: white;

  }
  .row {
    margin-top:0 ;
      padding-top: 10px;
  }

  h5{
    padding-left: 7px;
    margin-top: 5px;
    margin-left: 0;
    font-size: 14px;
    line-height: 0.5em;
    font-family: 'Poppins';
  }
}




@media screen and (max-width: 767px) {
  .market-icon{
    width: 26px; height: 20px; border-radius: 50%; background-color: green; margin: 2px;
    }
  .card-header{
    margin-top: 10;
    padding: 0;
    height: 50px;
    background: black;
    /* background: linear-gradient(90deg, #FFB449 37%, #272727 38%, #272727 94%); */
  }
  .card{
    border-radius: 10px;
    border: none;
    margin-top: 8px;
  }
  .second{
    display: flex;
    font-size: 24px;
    justify-content: flex-end; /* Aligns content to the bottom */
    margin-right: 5px;
    margin-top: 10px;
    justify-content: end;
  }
.custom-modal-content{
  background-color: #292929 !important;
}
.modal-content{
  background:black !important
}

  ul{
    display: flex;
    list-style-type: none;
    color :white;
    gap: 27px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif
  }
  .second-for-yes-no{
    display: flex;
    list-style-type: none;
    color :white;
    gap: 40px;
    font-size: 18.27px;
    font-family: 'Poppins',sans-serif
  }
  .box-suspended{
    border:none;
    border-radius: 5px;
    margin: 1px;
    margin: 5px 5px 0px 5px;
    /* border: 1px solid #ddd; */
    padding: 5px;
    text-align: center;
    width: 130px;
    height: 41px;
    background: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .suppended-text{
    display: flex;
    width: 100px;
    border-radius: 20px;
    font-size: 12px;
    /* border: 1px solid #ddd; */
    height: 30px;
    font-family: 'poppins';
    background-color: black;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .row-body {
    margin-top:-15px ;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: white;
  }
  /* .bottom-hr{
    border-bottom: 1px solid white;
  } */
  .markit-icon{
    width: 20px; height: 20px; border-radius: 50%; background-color: green; margin-right: 5px;
  }
/* This will ensure the .nav-tabs fill the width completely */
.nav-tabs {
  display: flex;
  flex-wrap: nowrap; /* This prevents the tabs from wrapping */
  justify-content: space-between; /* This spreads the tabs evenly across the width */
  padding-left: 0; /* Removes padding on the left */
  margin-bottom: 0; /* Removes space between the nav-tabs and the tab content */
  border-bottom: none; /* Removes the bottom border */
}

/* Style for each tab link */
.nav-tabs .nav-link {
  flex-grow: 1; /* This makes each tab grow to fill the available space */
  text-align: center; /* Centers the text within each tab */
  background-color: #272727; /* Orange background */
  color: White;
  font-family: 'poppins',sans-serif;
  border: none; /* Removes border */
  border-radius: 0; /* Removes rounded corners */
  margin-right: 0; /* Removes the space between tabs */
  transition: background-color 0.3s ease; /* Adds a transition for background color */
}

/* Active tab style */
  .nav-tabs .nav-link.active {
    background-color: rgb(78, 78, 78); /* Darker orange for active tab */
    color: white !important;
    border-bottom: 4px solid white !important; /* Adds the blue line underneath the active tab */
  }
  .nav-tabs .nav-link:not(.active) {
    border-bottom: 4px solid transparent;
  }
  .border-bottom{
    border-top: 2px solid white;
  }
  .score{
    width: 100%;
    height: 300px;
    border: 2px solid white;
  }
  .team{
    border-bottom: 1px solid black;
  }

/* Tab content styling */
.tab-content {
  border-top: none; /* Removes the top border */
}

  .row {
    margin-top:0 ;
      padding-top: 10px;
  }
  h5{
    font-size: 12px;
    padding-left: 7px;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
  }

}}
