<div class="content-before-footer">
  <!-- Your content here -->
</div>
<div class="footer-box">
  <div class="image-container">
    <img src="assets/group-c/f-img1.png" alt="Slide 1">
    <p class="box-text">sports</p>
  </div>
  <div class="image-container ">
    <img src="assets/group-c/f-img2.png" alt="Slide 1">
    <p class="box-text">teen patti</p>
  </div>
  <div class="image-container" (click)="toggleButton()">
      <img src="assets/group-c/a.png" class=" big-img" alt="Slide 1">
    <p class="box-text">faizan</p>
    </div>

    <div class="image-container">
      <img src="assets/group-c/f-img3.png" alt="Slide 1">
      <p class="box-text">live bets</p>
    </div>
  <div class="image-container">
    <img src="assets/group-c/f-img4.png" alt="Slide 1">
    <p class="box-text">casino</p>
  </div>
</div>
