<h1>Ambassadors</h1>
<div class="container-fluid marbo" >

<div class="row">
    <div class="col-md-6 col-sm-12">

        <div class="actors"> 
            <img src="assets/actors/krushna.png" alt="Football">
            <img src="assets/actors/sudesh.png" alt="Football">
            <img src="assets/actors/tushar.png" alt="Football">
            <img src="assets/actors/vikrant.png" alt="Football">
            
        </div>
    </div></div></div> 
    <!-- <app-footer></app-footer> -->