.actors {
  display: flex;
  gap: 15px;

}
.container-fluid{
  margin-left: 0 !important;
}

h2{
font-family:  'poppins',sans-serif !important;
margin-bottom: 2px !important;
margin-top: 10px
}

.actors img {
  width: 88.5px;
  height: 88.5px;
  transition: transform 0.2s ease-in-out;
  border-radius: 6%;
  margin-left: 0;

}

.actors img:hover {
  transform: scale(1.1);
}

