.withdrawal-container {
  margin: auto;
  padding: 20px;
  color:white;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: for some shadow */
}
.withdrow{
  color: white;
  text-align: center;
}
.withdrow-note{
  color: #FFB449;
}
.withdrawal-note {
  padding: 10px;
  border-radius: 5px;
  color:white;

  font-size: 14px;
  margin-bottom: 20px;
}
.tab-content {
  border: none;
  border-top: none;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  color: white;
}
li{
  font-family: 'poppins',sans-serif;
  color: white;
  font-weight: 400 !important;
}

.form-control{
  background-color: black!important;
  color: white;
}
.form-select{
  background-color: black !important;
  color: white;
}
.form-select option{
  background-color: black !important;
  color: white;
}
/* CSS to change placeholder color */
input::placeholder {
  color: #909090; /* Your desired placeholder color */
  opacity: 1; /* Firefox lowers the opacity by default, so reset it if needed */
}

/* For Internet Explorer 10-11 */
input:-ms-input-placeholder {
  color: #909090;
}

/* For Microsoft Edge */
input::-ms-input-placeholder {
  color: #909090;
}

.btn-warning {
  width: 100%;
  background-color: #FFB449;
  border: none;
}
.error-msg{
  /* margin-top: 5px;
  height: 20px; */
  font-family: 'poppins',sans-serif;
  color: #FF0000;
  /* padding: 0;
  font-weight: 800; */
}
.withdrow-submit-btn{
background-color: #FFB449;
width: 100%;
font-family: 'poppins';
font-weight: bold ;

}

tr{
  background-color: #020c1b;
}
.withdraw-table .table{
  border: 2px solid gray;
}
.withdraw-table .table thead tr{
  border: 2px solid gray;
}

.withdraw-table .table thead tr th{
  color: white !important;
  border: 2px solid gray;
  font-family: 'poppins',sans-serif;
  font-weight:400 !important;

}
.withdrow-back{
  position: absolute;
  left: 10px;
  margin-top: 5px;
}

.withdraw-table .table tbody tr td{
  color: white !important;
  border: 2px solid gray;
  background-color: black;
  font-family: 'poppins',sans-serif;
  font-weight:400 !important;
  white-space: nowrap;
}
.scroll {
  margin-left: 20px;
  display: flex;
  overflow-x: scroll;
  max-width: 100%;
}
.existing-card {
  max-width: 180px;
  border-radius: 8px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  transform: scale(1.1);
  background-color: #1C1C1E !important;
  color: white;

  position: relative; /* Add this to position the image absolutely relative to the card */
}
.withdrow{
  font-family: 'poppins',sans-serif;
  font-weight: 600;
}
.withdrow-note{
  font-family: 'poppins',sans-serif;
  font-weight: 600;
}
.nav-link{
  background-color: black;
  border: none;
}
.nav-tabs{
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
/* CSS */
.active-card {
  border: 2px solid #747474;
  transform: scale(1.15);
  background-color: #4e4e4e !important;
}
.btn-outline-withdrow{
  border: 2px solid #FFB449; /* Highlight with yellow border */

}
p{
  line-height: 1em;
}
.card-tick {
  position: absolute;
  top: 2px; /* Adjust as necessary */
  right: 10px; /* Adjust as necessary */
  width: 24px; /* Adjust size as necessary */
  height: 24px; /* Adjust size as necessary */
}
.existing-input{
  color: white;
  font-family: 'poppins',sans-serif;
  font-weight: 200 !important;
}
.amountbtn{
  background-color: #ffb449;
}

.nav-tabs .nav-link.active {
  background-color: #FFB449;
  font-weight: 600 !important;
  }



  .instructions-text ul {
    padding-left: 20px;
    text-align: justify;
    padding-top: 10px;
  }

  .instructions-text li {
    margin-bottom: 5px; /* Space between list items */
  }

.instructions-heading  {
font-family: 'poppins', sans-serif;
font-size: 18px;
color: #FFB449;
  }

  .form-background {
    background-color: black;
    color: white; /* Text color for form elements */
}

/* Set dark gray background for the selected option */
.form-select {
    background-color: darkgray;
    color: white; /* Text color for options */
}

/* Set black background for the form */
.form-background {
  background-color: black;
  color: white; /* Text color for form elements */
}

/* Set dark gray background for the selected option */
.form-select {
  background-color: darkgray;
  color: white; /* Text color for options */
}

/* Set gray color for input fields */
.form-control {
  background-color: grey;
  color: white; /* Text color for inputs */
}

/* Style the submit button */
.withdraw-submit-btn {
  background-color: grey; /* Button background color */
  color: black; /* Button text color */
}

/* Additional styling for error messages */
.error-msg {
  color: red;
}

input[type="text"]:focus,input[type="number"]:focus{
  border-color: white !important;
  box-shadow:none !important;
  outline: 0 none !important;
}
option:nth-child(1):hover{
  background: yellow !important;
}
option:nth-child(2):hover{
  background: yellow !important;
}
select:focus{
  border-color: white !important;
  box-shadow:none !important;
  outline: 0 none !important;
}


.clicked {
  background-color: #FFB449; /* Change to the desired color */
  color: white; /* Change to the desired color */
  border: none;
}
