.multi {
  display :flex;
  flex-direction: row;
  gap:10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.multi::-webkit-scrollbar{
  display: none;
}
h2{
  font-family:  'poppins',sans-serif !important;
  margin-bottom: 2px !important;
  margin-top: 10px;
}
.multi img {
    width: 101px;
    height: 68px;
    transition: transform 0.2s ease-in-out;
    border-radius: 6%;
}

.multi img:hover {
    transform: scale(1.1);
}
