<div class="container-fluid">

<h1>Multiplayer</h1>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="multi">
<img src="assets/multi/multi1.png" alt="Football">
<img src="assets/multi/multi2.png" alt="Football">

<img src="assets/multi/multi4.png" alt="Football">
<img src="assets/multi/multi5.png" alt="Football">
<img src="assets/multi/multi6.png" alt="Football">
<img src="assets/multi/multi7.png" alt="Football">
<img src="assets/multi/multi8.png" alt="Football">
<img src="assets/multi/multi9.png" alt="Football">
<img src="assets/multi/multi10.png" alt="Football">
<img src="assets/multi/multi11.png" alt="Football">

</div>
    </div>

 
 </div>   </div>

    <app-actors></app-actors>
    <app-footer></app-footer>