

  /* .image-box div img {
    width: 105px;
    height: 80px;
  } */
  .img-thumbnail{

   width:90px;
   height:80px;
   background-color: black;
   border: 1px solid black;
   margin-right: 10px;

  }
h2{
  font-family: 'poppins',sans-serif;
padding-left: 12px;
}


  .popular {
    display :flex;
    flex-direction: row;
    gap:10px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .popular::-webkit-scrollbar{
    display: none;
  }



  .img-thumbnail {
    display: inline-block; /* Display images in a line */
    margin-right: 5px; /* Add some space between images (adjust as needed) */
    max-width: 100%; /* Ensure images don't exceed their container's width */
  }
