@import url('https://fonts.googleapis.com/css?family=Your+Selected+Font');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Poppins:wght@100&family=Protest+Riot&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Poppins:wght@100&family=Protest+Riot&family=Single+Day&display=swap');

.navbar{
  background-color: black !important;
}
.header-img{
  width: 25px;
  height: 25;
}
.card{
  border-radius: 10px;
  border: none;
}
.header-first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
h1, h2{
    color: antiquewhite;
    font-family: 'poppins', sans-serif;
}
.img-fluid{
  width: 20px;
  height: 20px;
}

.header-second{
  color: white;
}
.first-body{

  margin-left: 0;
  margin-top: 10px;
}
h5{
  padding-left: 7px;
  margin-left: 0;
  line-height: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
p{
  padding-left: 7px;

  line-height: 0.5em;font-weight: 900;
}
.second-body{
  display: flex;
  justify-content: center;
  margin-top: -4px;
}
.second{
  justify-content: center; display: flex;font-size: 24px;margin-right: 15px; justify-content: end;
}
/* ul{
  display: flex;list-style-type: none; color :white; gap: 40px; font-size: 24px;
} */
.card-body {
  margin-left: 0px;
    display: flex;
    /* gap: 10px; */
    height: 70px;
}

.container{
    position: relative;

}
.card-body img{
  width: 55px; /* Set a fixed width for the images (adjust as needed) */
  height: 50px;
  border-radius: 50%;


}
.truncate-multiline{
  /* font-weight: bold; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.payment-header{
  text-align: center;
  margin-top: 30px;
}
.highlighted {
  border: 1px solid #FFC107; /* Example: yellow border */
  background-color: #9898a7;

}
.deposit-box{
  list-style: none;
  display: flex;
  overflow: auto;
  padding: 10px 4px 0;
  margin: 5px;
}
.deposit-box::-webkit-scrollbar{
  display: none;
}
.whatsappp-text{
  margin-top: 10px;
  font-family: 'poppins';
  font-weight: 500;
  font-size: 12px;
  color: white;
  font-family: 'poppins';

}
.nav-tabs .nav-link.active {
  background: linear-gradient(90deg, rgba(37,211,102,1) 0%, rgba(242,215,26,1) 100%);
  color: #000;
  border: none;
}

.nav-tabs .nav-link {
  border: none;
  color: white;
  border-radius: 6px 6px 0 0; /* Rounded top corners */
}

/* Style for the tab content */
.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
  border-radius: 0 6px 6px 6px; /* Rounded bottom corners */
}
.deposit-box img{
  width: 100px;
  height: 60px;
  justify-content: center;
}
.box-wrapper{
float: left;
width: 150px;
height: 91px;

padding: 14px 0;
font-weight: bold;
position: relative;
text-align: center;
border: 1px solid transparent;
transition: all .3s ease-in-out;
border-radius: 6px;
background-color: #2c2c2c;
}

.payment-header .payment-title{
  font-size: 17px;
  font-family: 'poppins';
  font-weight: 900;
  color: white;
  margin-top: 20px;
}
.highlighted {
  border: 1px solid #FFC107; /* Example: yellow border */
  background-color: #9898a7;
}
.live{

  position: absolute;
  margin-top: 7px;
  left: 32%;
  width: 40px;
  font-size: 10px;
  margin-bottom: 0px;
}

html, body { height: 100%; }
body { margin: 0;background-color: rgb(0, 0, 0); font-family: 'poppins', sans-serif; }


  .container{
    width: 100%;
  }


  .sport-main{
    overflow: hidden; /* or 'auto' */
    margin: 5px;
  }


  .box-1{
    border:none;
    border-radius: 5px;
    margin: 1px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: 64px;
    height: 50px;
    background: #a5d9fe;
  }
  .box-2{
    border:none;
    border-radius: 5px;
    margin: 1px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: 64px;
    height: 50px;
    background: #FF6A6A;
  }
  .whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 6px;
    font-size: 16px; /* Adjust font size as needed */
    color: #000000; /* Adjust text color as needed */
    background: linear-gradient(90deg, rgba(37,211,102,1) 0%, rgba(242,215,26,1) 100%);
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .whatsapp-button-container{
    display: flex;
  margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .whatsapp-button:hover {
    background: linear-gradient(90deg, rgba(33,189,92,1) 0%, rgba(230,205,36,1) 100%);
  }

@media screen and (max-width: 480px){
  .sport-main{
    overflow: hidden; /* or 'auto' */
  }
  .row{
    margin-top: 10px;
  }
  .sport-details-header{
    background-color: #272727;
    height: 42.99px;
    position: relative;
  }
  .row-body{
    margin-top: 5px;
  }
  /* ul{
    max-width: 300px;
    margin-top: 7px;
    gap:60px;
    display: flex;
    list-style-type: none;
    color :white;
    font-size: 24px;
  } */
  .sport-details-text  {
    font-size: 13.37px !important;
    line-height: 0.5em !important;
    font-family: "poppins" !important;
    color: white !important;
    position: absolute;
    top: 14px;
  }
  .sport-details-market{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
  }
  .market-button{
    background-color: #FFFFFF;
    width: 94.56px;
    height: 33px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 13.37px;
    position: relative;
    padding-right: 5px;
  }

  .box-1{
    border:none;
    border-radius: 5px;
    margin: 1px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: 64px;
    height: 50px;
    background: #a5d9fe;
  }
  .box-2{
    border:none;
    border-radius: 5px;
    margin: 1px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: 64px;
    height: 50px;
    background: #FF6A6A;
  }
  hr {
    height: 1px; /* Adjust the height as needed */
    margin-bottom: 0;
    margin-top: 3px; /* Remove any default margin */
    border: 1px solid black; /* Remove the default border */
    background-color: black; /* Set the color of the line */
  }
  .img-fluid{
    margin-left: 5px;
  }
  h2{
    font-family: 'poppins';
    margin-top: 5px;
  }
  .btn{
    font-family: 'poppins';
  }
  .payment-header{
    text-align: center;
    margin-top: 30px;
  }
  .highlighted {
    border: 1px solid #FFC107; /* Example: yellow border */
  background-color: #9898a7;

  }
  .deposit-box{
    list-style: none;
    display: flex;
    overflow: auto;
    padding: 10px 4px 0;
    margin: 5px;

}
.deposit-box img{
  width: 100px;
  height: 60px;
  justify-content: center;
}
.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 6px;
  font-size: 16px; /* Adjust font size as needed */
  color: #000000; /* Adjust text color as needed */
  background: linear-gradient(90deg, rgba(37,211,102,1) 0%, rgba(242,215,26,1) 100%);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background: linear-gradient(90deg, rgba(33,189,92,1) 0%, rgba(230,205,36,1) 100%);
}
.box-wrapper{
  float: left;
  width: 150px;
  height: 91px;

  padding: 14px 0;
  font-weight: bold;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  background-color: #2c2c2c;

}
.whatsappp-text{
  text-align: center;
  margin-top: 10px;
  font-family: 'poppins';
  font-weight: 500;
  font-size: 12px;
  color: white;
}
.nav-tabs .nav-link.active {
  background: linear-gradient(90deg, rgba(37,211,102,1) 0%, rgba(242,215,26,1) 100%);
  color: #000;
  border: none;
  font-family: 'poppins';

}

.nav-tabs .nav-link {
  border: none;
  color: white;
  font-family: 'poppins';
  border-radius: 6px 6px 0 0; /* Rounded top corners */
}

/* Style for the tab content */
.tab-content {
  border: none;
  border-top: none;
  padding: 10px;
  border-radius: 0 6px 6px 6px; /* Rounded bottom corners */
}
.whatsapp-button-container{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  .payment-header .payment-title{
    font-size: 17px;
    font-family: 'poppins';
    font-weight: 900;
    color: white;
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px){
  .sport-main{
    overflow: hidden; /* or 'auto' */
  }
  .sport-details-header{
    background-color: #272727;
    height: 42.99px;
    position: relative;
  }
  .row-body{
    margin-top: 5px;
  }
  /* ul{
    max-width: 300px;
    margin-top: 7px;
    gap:60px;
    display: flex;
    list-style-type: none;
    color :white;
    font-size: 24px;
  } */
  .sport-details-text  {
    font-size: 13.37px !important;
    line-height: 0.5em !important;
    font-family: "poppins" !important;
    color: white !important;
    position: absolute;
    top: 14px;
  }
  .sport-details-market{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
  }
  .market-button{
    background-color: #FFFFFF;
    width: 94.56px;
    height: 33px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 13.37px;
    position: relative;
    padding-right: 5px;
  }

  .box-1{
    border:none;
    border-radius: 5px;
    margin: 1px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: 64px;
    height: 50px;
    background: #a5d9fe;
  }
  .box-2{
    border:none;
    border-radius: 5px;
    margin: 1px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: 64px;
    height: 50px;
    background: #FF6A6A;
  }

  hr {
    height: 1px; /* Adjust the height as needed */
    margin-top: 3px; /* Remove any default margin */
    margin-bottom: 0;
    border: 1px solid black; /* Remove the default border */
    background-color: black; /* Set the color of the line */
    overflow: hidden;
  }

  .img-fluid{
    margin-left: 5px;
  }
  h2{
    font-family: 'poppins';
    margin-top: 5px;
  }
  .btn{
    font-family: 'poppins';
  }
  .payment-header{
    text-align: center;
    margin-top: 30px;
  }
  .deposit-box{
    list-style: none;
    display: flex;
    overflow: auto;
    padding: 10px 4px 0;
    margin: 5px;
}
.whatsappp-text{
  text-align: center;
  margin-top: 10px;
  font-family: 'poppins';
  font-weight: 500;
  font-size: 12px;
  color: white;
}
.nav-tabs .nav-link.active {
  background: linear-gradient(90deg, rgba(37,211,102,1) 0%, rgba(242,215,26,1) 100%);
  color: #000;
  border: none;
  font-family: 'poppins';

}

.nav-tabs .nav-link {
  border: none;
  color: white;
  font-family: 'poppins';

  border-radius: 6px 6px 0 0; /* Rounded top corners */
}

/* Style for the tab content */
.tab-content {
  border: none;
  border-top: none;
  padding: 10px;
  border-radius: 0 6px 6px 6px; /* Rounded bottom corners */
}

.whatsapp-button-container{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.deposit-box img{
  width: 100px;
  height: 60px;
  justify-content: center;
}

.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 6px;
  font-size: 16px; /* Adjust font size as needed */
  color: #000000; /* Adjust text color as needed */
  background: linear-gradient(90deg, rgba(37,211,102,1) 0%, rgba(242,215,26,1) 100%);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background: linear-gradient(90deg, rgba(33,189,92,1) 0%, rgba(230,205,36,1) 100%);
}

.whatsapp-img {
  width: 24px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px; /* Adjust spacing as needed */
}

.box-wrapper{
  float: left;
  width: 150px;
  height: 91px;
  padding: 14px 0;
  font-weight: bold;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  background-color: #2c2c2c;
}

  .payment-header .payment-title{
    font-size: 17px;
    font-family: 'poppins';
    font-weight: 900;
    color: white;
    margin-top: 20px;
  }
  .highlighted {
    border: 1px solid #FFC107; /* Example: yellow border */
    background-color: #9898a7;

  }
}
