
<div class="container-fluid">
  <h2>Games</h2>
  <div class="col-md-12 col-sm-12">
  <div class="row">
    <div class="game-box">
      <div class="image-container" *ngFor="let item of gameData">
        <div class="image-wrapper"  (click)="navigateToSport(item.navigateToSport)" [ngClass]="{'active': isActive(item.navigateToSport)}">
          <img [src]="item.image" alt="{{item.imageName}}">
        </div>
        <div class="image-label">{{item.imageName}}</div>
      </div>
    </div>
  </div>
  </div>
  </div>


