
<div class="container-fluid">
  <h2>Games</h2>
  <div class="col-12">
  <div class="row">
    <div class="game-box">
      <div class="image-container" >
        <div class="image-wrapper"  (click)="navigateToSport('cricket')" [ngClass]="{'active': isActive('cricket')}">
          <img src="assets/group-b/f.png" alt="Cricket">
        </div>
        <div class="image-label">Cricket</div>
      </div>


      <div class="image-container">
        <div class="image-wrapper" (click)="navigateToSport('football')" [ngClass]="{'active': isActive('football')}">
          <img src="assets/group-b/b.png" alt="Football">
        </div>
        <div class="image-label">Football</div>
      </div>

      <div class="image-container">
        <div class="image-wrapper">
          <img src="assets/group-b/j.png" alt="Football">
        </div>
        <div class="image-label">Tennis</div>
      </div>

      <div class="image-container">
        <div class="image-wrapper">
          <img src="assets/group-b/h.png" alt="Football">
        </div>
        <div class="image-label">Basketball</div>
      </div>

      <div class="image-container">
        <div class="image-wrapper">
          <img src="assets/group-b/d.png" alt="Football">
        </div>
        <div class="image-label">Boxing</div>
      </div>

      <div class="image-container">
        <div class="image-wrapper">
          <img src="assets/group-b/e.png" alt="Football">
        </div>
        <div class="image-label">Wrestling</div>
      </div>
      <div class="image-container">
        <div class="image-wrapper">
          <img src="assets/group-b/g.png" alt="Football">
        </div>
        <div class="image-label">Riding</div>
      </div>



      <div class="image-container">
        <div class="image-wrapper">
          <img src="assets/group-b/c.png" alt="Football">
        </div>
        <div class="image-label">Table</div>
      </div>
    </div>
  </div>
  </div>
  </div>


