.game-shows {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-bottom: 15px;
}
h2{
font-family:  'poppins',sans-serif !important;
}
.game-shows img {
  width: 90px;
  height: 115px;
  transition: transform 0.2s ease-in-out;
  border-radius: 6%;
}
