<div class="container-fluid">
    <h1 style="font-family: Poppins;"> Game Shows</h1>
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="game-shows">
    <img src="assets/game-show/game1.png" alt="Football">
    <img src="assets/game-show/game2.png" alt="Football">
    <img src="assets/game-show/game3.png" alt="Football">
    <img src="assets/game-show/game4.png" alt="Football">
    <img src="assets/game-show/game5.png" alt="Football">
    <img src="assets/game-show/game6.png" alt="Football">
    <img src="assets/game-show/game7.png" alt="Football">
    <img src="assets/game-show/game8.png" alt="Football">
    <img src="assets/game-show/game9.png" alt="Football">
    <img src="assets/game-show/game10.png" alt="Football">
    <img src="assets/game-show/game11.png" alt="Football">
    <img src="assets/game-show/game12.png" alt="Football">
    </div>
        </div>

        </div>

</div>

    <app-multi></app-multi>
